<%- include("./layout/head", {title})%>
<%- include("./layout/header")%>
<%- include("./layout/menu")%>
<%- include("./layout/slider")%>
                
                <!--	List Product	-->
                <div class="products">
                    <h3><%=title%> (hiện có <%=total%> sản phẩm)</h3>
                    <div class="product-list card-deck">
                        <% for(product of products){%>
                        <div class="product-item card text-center">
                            <a href="/product-<%=product.slug%>.<%=product._id%>"><img src="../images/<%=product.thumbnail%>"></a>
                            <h4><a href="/product-<%=product.slug%>.<%=product._id%>"><%=product.name%></a></h4>
                            <p>Giá Bán: <span><%=new Intl.NumberFormat("vi-VN", {style: "currency",currency: "VND",minimumFractionDigits: 0,}).format(product.price)%></span></p>
                        </div>
                        <%}%>
                    </div>
                </div>
                <!--	End List Product	-->
                
                <div id="pagination">
                    <ul class="pagination">
                            
                        <%if(page>1){%>
                            <li class="page-item"><a class="page-link" href="/category-<%=category._id%>?page=<%=page-1%>">&laquo;</a></li>
                            <% }%>
                                <%for(pageNum of pages){%>
                                    <%if(pageNum==="..."){%>
                                        <li class="page-item <%= pageNum===page? 'active':''%>"><span><%=pageNum%></span></li>
                                    <% }else{%>
                                        <li class="page-item <%= pageNum===page? 'active':''%>"><a class="page-link" href="/category-<%=category._id%>?page=<%=pageNum%>"><%=pageNum%></a></li>
                                    <%}%>
                            
                                <%}%>

                            <%if(page<totalPage){%>
                            <li class="page-item"><a class="page-link" href="/category-<%=category._id%>?page=<%=page+1%>">&raquo;</a></li>
                            <%}%>
                    </ul> 
                </div>
                
<%- include("./layout/sidebar")%>
<%- include("./layout/footer")%>