<%- include("./layout/head", {title:"Home"})%>
<%- include("./layout/header")%>
<%- include("./layout/menu")%>
<%- include("./layout/slider")%>
                
                <!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        <%for( featured of featuredProduct){%>
                        <div class="product-item card text-center">
                            <a href="/product-<%=featured.slug%>.<%=featured._id%>"><img src="../images/<%=featured.thumbnail%>"></a>
                            <h4><a href="/product-<%=featured.slug%>.<%=featured._id%>"><%=featured.name%></a></h4>
                            <p>Giá Bán: <span><%=new Intl.NumberFormat("vi-VN", {style: "currency",currency: "VND",minimumFractionDigits: 0,}).format(featured.price)%></span></p>
                        </div>
                        <%}%>
                    </div>
                </div>
                <!--	End Feature Product	-->
                
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        <%for(latest of latestProduct){%>
                        <div class="product-item card text-center">
                            <a href="/product-<%=latest.slug%>.<%=latest._id%>"><img src="../images/<%=latest.thumbnail%>"></a>
                            <h4><a href="/product-<%=latest.slug%>.<%=latest._id%>"><%=latest.name%></a></h4>
                            <p>Giá Bán: <span><%=new Intl.NumberFormat("vi-VN", {style: "currency",currency: "VND",minimumFractionDigits: 0,}).format(latest.price)%>></span></p>
                        </div>
                        <%}%>
                    </div>
                </div>
                <!--	End Latest Product	-->
                
<%- include("./layout/sidebar")%>
<%- include("./layout/footer")%>
            